<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="musicBean" class="com.learning2code.spring.model.ClassicMusic"/>
    <bean id="musicPlayerConstructor" class="com.learning2code.spring.view.MusicPlayer">
        <constructor-arg ref="musicBean"/>
    </bean>
    <bean id="musicPlayerConstructorAllArgs" class="com.learning2code.spring.view.MusicPlayer">
        <constructor-arg ref="musicBean"/>
        <constructor-arg value="Name the name"/>
        <constructor-arg value="55"/>
    </bean>
    <bean id="musicPlayerSetter" class="com.learning2code.spring.view.MusicPlayer">
        <property name="music" ref="musicBean"/>
        <property name="name" value="Name oot the track"/>
        <property name="volume" value="52"/>
    </bean>
</beans>